body {
  font-family: "helvetica neue";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#thing {
  max-width: 512px;
}

#link {
  margin-left: 32px;
}

